<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="大学生同士で不要になった教科書を譲り合い、履修科目や行動履歴から必要な本を探せるWebアプリです。">
  <meta name="theme-color" content="#15263d">
  <title><%= title %> | 教科書シェア</title>
  <link rel="icon" href="/images/book-placeholder.svg" type="image/svg+xml">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/common.js" defer></script>
  <script src="/js/search-suggestions.js" defer></script>
</head>
